.accordion-header {
  background-color: #eee;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background-color: #ccc;
}

.accordion-content {
  overflow: hidden;
  padding: 0 12px;
  transition: max-height 0.3s ease;
}